/**
 * index.scss
 * - Add any styles you want here!
 */

*{
  box-sizing: border-box;
}

body {
  background: #EFEFBB;
  background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
  background: linear-gradient(to right, #D4D3DD, #EFEFBB);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato';
  margin: 0;
}

h1{
  letter-spacing: 3px;
}

.poke-container {
  display:flex;
  //background-color: red;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon {
  box-shadow: 3px 3px 15px grey;
  background-color: #eee;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin: 10px;
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  heigth: 120px;
  width: 120px;
}

.pokemon .img-container img {
  margin-top: 20px;
  max-width: 90%;
}

.pokemon .infro {
  margin-top: 20px;
}

.pokemon .number {
  background-color: #fff;
  border-radius: 10px;
  font-size: 0.8em;
  margin-top: 5px;
  padding: 5px 10px;
}

.pokemon .name  {
  margin: 15px 0 7px;
  
}
  
